.title__container {
    color: white;
}

.title__container > h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 135px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    justify-content: center;
}

.title__container > hr {
    margin-top: 20px;
    margin-bottom: 5px;
}