<div class="container">

    <div class="container__content">
        <a [routerLink]="['content', Id]">
            <div class="container__photo">
                <img 
                src={{photoCover}}
                alt="Foto da notícia"
                >
            </div>
        </a>

        <a href="/content">
            <div class="container__title">
                <h1>{{cardTitle}}</h1>
            </div>
        </a>    
    </div>

    <div class="container__separator">
        <hr>
    </div>
</div>